name: "Terraform Destroy PROD (Manual)"

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  destroy-prod:
    name: "Destroy Infrastructure (PROD)"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./secure-cloud-lab-prod

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/GitHubActions-Terraform-Role
          aws-region: eu-north-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Destroy
        run: terraform destroy -auto-approve
